.context-menu {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: max-content;
}

/* Элементы меню */
.context-menu-item {
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    width: 100%;
    align-self: center;
    text-align: center;
    /* Для размещения стрелки */
}

.context-menu-item:hover {
    background-color: #f4f4f4;
}

.context-menu.hidden {
    display: none;
}

/* Стили для светлой темы */
body[theme="light"] .context-menu {
    background: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 1);
    color: black;
}

body[theme="light"] .context-menu-item {
    border-bottom: 1px solid #ddd;
    /* Добавляем разделитель */
}

body[theme="light"] .context-menu-item:last-child {
    border-bottom: none;
    /* Убираем разделитель у последнего элемента */
}

body[theme="light"] .context-menu-item:hover {
    background: #eee;
}

/* Стили для тёмной темы */
body[theme="dark"] .context-menu {
    background: #333;
    box-shadow: 0 0 8px rgba(255, 255, 255, 1);
    color: white;
}

body[theme="dark"] .context-menu-item {
    border-bottom: 1px solid #555;
    /* Добавляем разделитель */
}

body[theme="dark"] .context-menu-item:last-child {
    border-bottom: none;
    /* Убираем разделитель у последнего элемента */
}

body[theme="dark"] .context-menu-item:hover {
    background: #555;
}