#header {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 100;
    order: 0;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#siteName {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    font-size: 18px;
    margin-left: 4px;
    white-space: wrap;
}

#actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: auto; /* Это привяжет элемент справа */
}

.action {
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    vertical-align: middle;
}

.action:hover {
    cursor: pointer;
}

body[theme="light"] .action{
    border: 1px solid #449f33;
    color: #449f33;
}

body[theme="dark"] .action{
    border: 1px solid #bc862e;
    color: #bc862e;
}

body[theme="light"] .action:hover {
    background-color: #449f33;
    color: white;
}

body[theme="dark"] .action:hover {
    background-color: #bc862e;
    color: white;
}

body[theme="light"] #header {
    background: white;
    box-shadow: 0 3px 10px 0 #00000030;
    color: black;
}

body[theme="dark"] #header {
    background: #333;
    color: white; /* Светло-синий текст */
    box-shadow: 0 3px 10px 0 #00000030;
}
