.yandex-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/58/Yandex_icon.svg');
}

.osm-icon {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b0/Openstreetmap_logo.svg");
}

.google-icon {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg");
}
