.leaflet-control-zoom-custom {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

body[theme="light"] .leaflet-control-zoom-custom {
    background-color: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 1);
}

body[theme="dark"] .leaflet-control-zoom-custom {
    background-color: #3d3d3d;
    box-shadow: 0 0 8px rgba(255, 255, 255, 1);
}


.leaflet-control-zoom-custom button {
    background: transparent;
    border: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px; /* Добавлено свойство border-radius */
    overflow: hidden;
    font-size: 24px;
}

body[theme="light"] .leaflet-control-zoom-custom button {
    color: black;
}

body[theme="dark"] .leaflet-control-zoom-custom button {
    color: white;
}

body[theme="light"] .leaflet-control-zoom-custom button:hover:not(.disabled) {
    background: #e0e0e0;
}

body[theme="dark"] .leaflet-control-zoom-custom button:hover:not(.disabled) {
    background: #6a6a6a;
}

body[theme] .leaflet-control-zoom-custom button.disabled {
    cursor: not-allowed;
    color: grey;
}

body[theme="light"] .leaflet-control-zoom-custom button:active:not(.disabled) {
    background: #d0d0d0;
}

body[theme="dark"] .leaflet-control-zoom-custom button:active:not(.disabled) {
    background: #7a7a7a;
}
